.car {
  display: grid;
  grid-template-columns: 1fr;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.car-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}

.car-grid-all {
  grid-template-columns: repeat(2, 1fr);
}

.car-grid-box {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr;
  justify-items: center;
  height: 200px;
  width: 200px;
  padding: 1rem;

  img {
    width: 100%;
  }

  &:hover {
    background: blue;
    color: white;
  }
}

.selected-car {
  img {
    width: 800px;
  }
}

.car-grid-box__active {
  background-color: blue;
  color: white;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}